In [ ]:
import autograd.numpy as np
from autograd import grad

In [ ]:
def tanh(x):
    y = np.exp(-x)
    return (1.0 - y) / (1.0 + y)

In [ ]:
grad_tanh = grad(tanh)
print(grad_tanh(1.0))

In [ ]:
import matplotlib.pyplot as plt

t1 = np.arange(-5.0, 5.0, 0.1)
plt.plot(t1, tanh(t1))
plt.show()

In [2]:
import pandas as pd 
import os
import matplotlib.pyplot as pltT
import torch

In [3]:
df_train = pd.read_csv("data/train.csv")
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
print( "Numero total de preguntas: {total}".format(total = len(df_train)) )
print("Numero de preguntas repetidas: {b}, ({a:.2f}%)".format(b=df_train["is_duplicate"].sum(),a=df_train["is_duplicate"].mean()*100) )
print("Valores nulos: \n{}".format(df_train.isnull().sum()))
#Si hubiera campos vacios (habia 2) rellenamos con empty
df_train = df_train.fillna("empty")

Numero total de preguntas: 404290
Numero de preguntas repetidas: 149263, (36.92%)
Valores nulos:
id              0
qid1            0
qid2            0
question1       0
question2       2
is_duplicate    0
dtype: int64

In [7]:
torch.nn.BCELoss() # es la funcion de logloss

BCELoss (
)